In [77]:
#Task Number 1 (A)

In [78]:
import pandas as pd
import numpy as np
import keras

In [79]:
from keras.models import Sequential
from keras.layers import Dense
from sklearn.model_selection import train_test_split

In [80]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [81]:
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [82]:
concrete_data.shape

(1030, 9)

In [83]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [84]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [85]:
concrete_data_columns = concrete_data.columns

predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

In [86]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [87]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [88]:
n_cols = predictors.shape[1] # number of predictors

In [89]:
model = regression_model()

In [90]:
#model.fit(predictors_norm, target, validation_split=0.3, epochs=50, verbose=0)
list_of_mean_squared_error = []
for cycle in range(50):
    #Randomly split the data into a training set (70%) and a test set (30%):  
    x_train, x_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3)
    #Train and test the model at the same time
    res = model.fit(x_train, y_train, epochs=50, verbose=0, validation_data=(x_test, y_test))
    #Find mean_squared_error as last value in history.
    mean_squared_error = res.history['val_loss'][-1]
    #Add value of mean_squared_error for every cycle in list.
    list_of_mean_squared_error.append(mean_squared_error)
    print('Repeat Number: {}: MSE: {}'.format(cycle+1, mean_squared_error))

Repeat Number: 1: MSE: 203.24683535677715
Repeat Number: 2: MSE: 140.1013455684131
Repeat Number: 3: MSE: 122.14029861499577
Repeat Number: 4: MSE: 91.70987716230374
Repeat Number: 5: MSE: 100.86078685772843
Repeat Number: 6: MSE: 75.91610846164542
Repeat Number: 7: MSE: 64.70740849146179
Repeat Number: 8: MSE: 58.22001912138609
Repeat Number: 9: MSE: 51.537438945091274
Repeat Number: 10: MSE: 49.898242296138626
Repeat Number: 11: MSE: 39.20158396723973
Repeat Number: 12: MSE: 52.39817173041186
Repeat Number: 13: MSE: 43.589591831836884
Repeat Number: 14: MSE: 48.19878002277856
Repeat Number: 15: MSE: 41.901880727230925
Repeat Number: 16: MSE: 46.67361240325236
Repeat Number: 17: MSE: 45.91787591952722
Repeat Number: 18: MSE: 43.915291659654535
Repeat Number: 19: MSE: 49.47694351295051
Repeat Number: 20: MSE: 37.793871697484484
Repeat Number: 21: MSE: 45.26863575907587
Repeat Number: 22: MSE: 49.48056859877503
Repeat Number: 23: MSE: 43.95676402366663
Repeat Number: 24: MSE: 41.96086265045462
Repeat Number: 25: MSE: 41.53876060806817
Repeat Number: 26: MSE: 44.40975994122453
Repeat Number: 27: MSE: 45.37633220586191
Repeat Number: 28: MSE: 45.85626992284287
Repeat Number: 29: MSE: 39.75245481324427
Repeat Number: 30: MSE: 47.143241400857576
Repeat Number: 31: MSE: 47.038851710199154
Repeat Number: 32: MSE: 46.36231661305844
Repeat Number: 33: MSE: 38.09932284061963
Repeat Number: 34: MSE: 46.34423151602637
Repeat Number: 35: MSE: 45.9603341605671
Repeat Number: 36: MSE: 48.60396177791855
Repeat Number: 37: MSE: 42.980386875979725
Repeat Number: 38: MSE: 39.86024945453533
Repeat Number: 39: MSE: 49.59229476089231
Repeat Number: 40: MSE: 42.778273313948254
Repeat Number: 41: MSE: 40.32314133875578
Repeat Number: 42: MSE: 43.92372407882345
Repeat Number: 43: MSE: 45.80081097747902
Repeat Number: 44: MSE: 39.23858841337432
Repeat Number: 45: MSE: 44.71935519740034
Repeat Number: 46: MSE: 42.93069358010894
Repeat Number: 47: MSE: 44.21230087774085
Repeat Number: 48: MSE: 41.32684786651512
Repeat Number: 49: MSE: 41.16878468781999
Repeat Number: 50: MSE: 41.86437295092734

In [91]:
print('Mean for all squared errors: {}'.format(np.mean(list_of_mean_squared_error)))
print('STD for mean squared errors: {}'.format(np.std(list_of_mean_squared_error)))

Mean for all squared errors: 54.50556914530139
STD for mean squared errors: 29.29012831170964

In [92]:
#Task Number 2 (B)
def regression_model2():
    model2 = Sequential()
    model2.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model2.add(Dense(1))
    
    model2.compile(optimizer='adam', loss='mean_squared_error')
    return model2

model2 = regression_model2()

In [93]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [94]:
n_cols = predictors_norm.shape[1] # number of predictors

In [ ]:
#model.fit(predictors_norm, target, validation_split=0.3, epochs=50, verbose=0)
list_of_mean_squared_error_norm = []
for cycle in range(50):
    #Randomly split the data into a training set (70%) and a test set (30%):  
    x_train, x_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3)
    #Train and test the model at the same time
    res = model2.fit(x_train, y_train, epochs=50, verbose=0, validation_data=(x_test, y_test))
    #Find mean_squared_error as last value in history.
    mean_squared_error_norm = res.history['val_loss'][-1]
    #Add value of mean_squared_error for every cycle in list.
    list_of_mean_squared_error_norm.append(mean_squared_error_norm)
    print('Repeat Number Normalized: {}: MSE: {}'.format(cycle+1, mean_squared_error_norm))

Repeat Number Normalized: 1: MSE: 575.7636795784663
Repeat Number Normalized: 2: MSE: 183.78646574051248
Repeat Number Normalized: 3: MSE: 127.84548382311577
Repeat Number Normalized: 4: MSE: 105.45457680711469
Repeat Number Normalized: 5: MSE: 69.00464798023015
Repeat Number Normalized: 6: MSE: 58.04797250939033
Repeat Number Normalized: 7: MSE: 48.033699455384685
Repeat Number Normalized: 8: MSE: 59.312372522446715
Repeat Number Normalized: 9: MSE: 43.56626500743878
Repeat Number Normalized: 10: MSE: 45.417677289845486
Repeat Number Normalized: 11: MSE: 39.69765352662713
Repeat Number Normalized: 12: MSE: 39.63856687823546
Repeat Number Normalized: 13: MSE: 39.83884553384627
Repeat Number Normalized: 14: MSE: 38.858387956341495
Repeat Number Normalized: 15: MSE: 45.81184269926695
Repeat Number Normalized: 16: MSE: 33.019913201193205
Repeat Number Normalized: 17: MSE: 38.75890804648785
Repeat Number Normalized: 18: MSE: 38.60532180391083
Repeat Number Normalized: 19: MSE: 35.48552639353237
Repeat Number Normalized: 20: MSE: 34.251257479769514
Repeat Number Normalized: 21: MSE: 34.27478569302358
Repeat Number Normalized: 22: MSE: 39.35481142457635
Repeat Number Normalized: 23: MSE: 34.90852771993594
Repeat Number Normalized: 24: MSE: 36.48592447077186
Repeat Number Normalized: 25: MSE: 32.985583629422976
Repeat Number Normalized: 26: MSE: 33.697721820818956
Repeat Number Normalized: 27: MSE: 34.524940305543176
Repeat Number Normalized: 28: MSE: 32.993235060312216
Repeat Number Normalized: 29: MSE: 30.359228063169805
Repeat Number Normalized: 30: MSE: 34.38056772966601
Repeat Number Normalized: 31: MSE: 33.734034479628875
Repeat Number Normalized: 32: MSE: 33.34887128663294
Repeat Number Normalized: 33: MSE: 38.91015307725826
Repeat Number Normalized: 34: MSE: 33.54233968913748
Repeat Number Normalized: 35: MSE: 31.270734515390735
Repeat Number Normalized: 36: MSE: 39.91583006281683

In [ ]:
print('Mean for all squared errors: {}'.format(np.mean(list_of_mean_squared_error_norm)))
print('STD for mean squared errors: {}'.format(np.std(list_of_mean_squared_error_norm)))

In [ ]:
#Task Number 3 (C)

In [ ]:
def regression_model3():
    model3 = Sequential()
    model3.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model3.add(Dense(1))
    
    model3.compile(optimizer='adam', loss='mean_squared_error')
    return model3

model3 = regression_model3()

In [ ]:
#model.fit(predictors_norm, target, validation_split=0.3, epochs=50, verbose=0)
list_of_mean_squared_error_norm = []
for cycle in range(50):
    #Randomly split the data into a training set (70%) and a test set (30%):  
    x_train, x_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3)
    #Train and test the model at the same time
    res = model3.fit(x_train, y_train, epochs=100, verbose=0, validation_data=(x_test, y_test))
    #Find mean_squared_error as last value in history.
    mean_squared_error_norm = res.history['val_loss'][-1]
    #Add value of mean_squared_error for every cycle in list.
    list_of_mean_squared_error_norm.append(mean_squared_error_norm)
    print('Repeat Number Normalized: {}: MSE: {}'.format(cycle+1, mean_squared_error_norm))

In [ ]:
print('Mean for all squared errors: {}'.format(np.mean(list_of_mean_squared_error_norm)))
print('STD for mean squared errors: {}'.format(np.std(list_of_mean_squared_error_norm)))